
.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #f5edef;
}

.container-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.btn-container {
  width: 320px;
  display: inline-block;
  margin-left: auto;
  height: 42px;
}

#signin {
  margin-right: 5px;
  background: #f9cfe1;
  color: #512013;
  height: 35px;
}

#signup {
  background: #f9cfe1;
  color: #512013;
  margin-left: 5px;
  height: 35px;
}

#btn-center {
  background: #f9cfe1;
  color: #512013;
  margin-left: 5px;
}

.form-outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 10px;
  padding-top: 100px;
  margin-left: 400px;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.login-font-style{
  font-size: 25px;
  font-family: 'sans-serif';
  font-weight:bold;
}

.font-style{
  font-size: 20px;
  font-family: 'sans-serif';
}